@import 'base';
.container {
  display: flex;
  flex-direction: column;
  width: 280px;
  overflow: hidden;
  @include materialShadow(2);
  transition: 0.5s cubic-bezier(.43,.41,.22,.91);
  &:hover {
    @include materialShadow(4);
    .image {
      filter: contrast(100%);
    }
  }
  margin: 1em;
}

.image {
  height: 150px;
  @include MQ(SM) {
    height: 200px;
  }
  width: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  filter: contrast(70%);
  transition: 0.5s cubic-bezier(.43,.41,.22,.91);
}

.content {
  padding-left: 1em;
  padding-right: 1em;
}

.header {
  font-family: 'Lato', serif;
  letter-spacing: 0.1em;
  a {
    text-decoration: none;
    color: black;
  }
}

.text {
  line-height: 1.5em;
  font-size: 1em;
  font-weight: 300;
}